@{
    ViewData["Title"] = "checkyourinbox";
}
@{
    Layout = "_Layout";




}

<style>
.footer{
    margin:0px !important;
}
</style>


<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0"
      style="margin: 0pt auto; padding: 0px; background:#e9defc;">
    <table id="main" width="100%" height="100%" cellpadding="0" cellspacing="0" border="0"
           bgcolor="#F4F7FA">
        <tbody>
            <tr>
                <td valign="top">

                    <table class="innermain" cellpadding="0" width="580" cellspacing="0" border="0"
                           bgcolor="#F4F7FA" align="center" style="margin:0 auto; table-layout: fixed;">
                        <tbody>
                            <!-- START of MAIL Content -->
                            <tr>
                                <td colspan="4">
                                    <!-- Logo start here -->
                                    <table class="logo" width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td colspan="2" height="30"></td>
                                            </tr>
                                            <tr>
                                                <td valign="top" align="center">
                                                    <a href="https://frme.live" style="display:inline-block; cursor:pointer; text-align:center;">
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" height="30"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- Logo end here -->
                                    <!-- Main CONTENT -->
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff"
                                           style="border-radius: 4px; box-shadow: 0 2px 8px rgba(0,0,0,0.05);">
                                        <tbody>
                                            <tr>
                                                <td height="40" style="padding:20px">
                                                    <img  src="~/photos/logo.png" width="20%"/>
                                                </td>
                                            </tr>
                                            <tr style="font-family: -apple-system,BlinkMacSystemFont,&#39;Segoe UI&#39;,&#39;Roboto&#39;,&#39;Oxygen&#39;,&#39;Ubuntu&#39;,&#39;Cantarell&#39;,&#39;Fira Sans&#39;,&#39;Droid Sans&#39;,&#39;Helvetica Neue&#39;,sans-serif; color:#4E5C6E; font-size:14px; line-height:20px; margin-top:20px;">
                                                <td class="content" colspan="2" valign="top" align="center" style="padding-left:90px; padding-right:90px;">
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" valign="bottom" colspan="2" cellpadding="3">
                                                                    <img alt="Frme"  width="25%" src="~/photos/Mar-Business_18.jpg" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="30" &nbsp;=""></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center">
                                                                    <span style="color:#48545d;font-size:22px;line-height: 24px;">
                                                                        Check your inbox
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="24" &nbsp;=""></td>
                                                            </tr>
                                                            <tr>
                                                                <td height="1" bgcolor="#DAE1E9"></td>
                                                            </tr>
                                                            <tr>
                                                                <td height="24" &nbsp;=""></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center">
                                                                    <span style="color:#48545d;font-size:14px;line-height:24px;">
                                                                        I received your request regarding a password reset, and I'm pleased to inform you that I have located the link required to reset your password. Please check your inbox for an email containing the necessary link. By following the instructions provided in the email, you will be able to reset your password and regain access to your account. If you encounter any issues during this process, please do not hesitate to reach out for further assistance.
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="20" &nbsp;=""></td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" width="48%" align="center">
                                                                    <span>
                                                                        <a asp-controller="Home" asp-action="Index" style="display:block; padding:15px 25px; background-color:#0087D1; color:#ffffff; border-radius:3px; text-decoration:none;">Done</a>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="20" &nbsp;=""></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center">
                                                                    <img src="~/photos/Mar-Business_18.jpg" width="54"
                                                                         height="2" border="0">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="20" &nbsp;=""></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center">
                                                                    <p style="color:#a2a2a2; font-size:12px; line-height:17px; font-style:italic;">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="60"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- FOOTER start here -->
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td height="10">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td valign="top" align="center">
                                                    <span style="font-family: -apple-system,BlinkMacSystemFont,&#39;Segoe UI&#39;,&#39;Roboto&#39;,&#39;Oxygen&#39;,&#39;Ubuntu&#39;,&#39;Cantarell&#39;,&#39;Fira Sans&#39;,&#39;Droid Sans&#39;,&#39;Helvetica Neue&#39;,sans-serif; color:#9EB0C9; font-size:10px;">
                                                        &copy;
                                                        <a asp-action="Index" asp-controller="Home" target="_blank" style="color:#9EB0C9 !important; text-decoration:none;">
                                                            <img src="~/photos/logo.png">
                                                        </a> 2019
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="50">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- FOOTER end here -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    
</body>