
@model ResetPassViewModel
@{
    ViewData["Title"] = "Resetpassword";
}
@{
    Layout = "_LayoutForLoginAndRegister";
}

<link href="~/css/online appointment.css" rel="stylesheet" />


<div class="container">
    <h1 class="mb-5">Online Doctor Appointment</h1>

    <form id="appointmentFormOnline" asp-action="Resetpassword">
        <div class="mb-3">
            <label asp-for="newpassword" class="form-label fw-bold">New Password</label>
            <input asp-for="newpassword"
                   class="form-control"
                   id="new_password"
                   aria-describedby="newPasswordHelp"
                   placeholder="Enter your new password"
                   required />
            <span asp-validation-for="newpassword" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="confirmnewpassword" class="form-label fw-bold">Confirm Password</label>
            <input asp-for="confirmnewpassword"
                   class="form-control"
                   id="confirm_password"
                   aria-describedby="confirmPasswordHelp"
                   placeholder="Confirm your new password"
                   required />
            <span asp-validation-for="confirmnewpassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn main-btn ms-0 mb-3">
            Set New Password
        </button>
    </form>
</div>    
</div>